page-new-report {
    .report-body {
        background-color: #aaa;
        padding: 20px;
        min-height: 100%;
    }
    .detail-sec {
        background-color: #eee;
    }
    .details {
        text-align: right;
        padding: 10px;
        .head-red {
            margin-top: 15px;
            color: #C41D2E;
            font-weight: 700;
        }
        p{
            margin: 0;
            font-size: 1.4em;
        }
    }
    .profile{
        margin-top: 10px;
        border-radius: 50%;
        max-width: 150px;
        max-height: 150px;
        object-fit: cover;
        border: 5px solid rgba(0, 0, 0, 0.315);
    }
    .report-row {
        direction: rtl;
        font-family: 'Helvetica';

    }
    .select-md,
    ion-select {
        padding: 0 !important;
        margin: 0 !important;
    }
    .bg-temp {
        background-color: rgba(221, 221, 221, 0.20);
    }
    .bg-temp2 {
        background-color: rgba(221, 221, 221, 0.20);
    }
    textarea {
        padding: 5px;
        background-color: #eee;
        border: 0;
        border-radius: 10px;
    }
    button {
        font-family: 'Helvetica';
    }
}
