<ion-header >
  <ion-navbar class="header-nav"  color="danger" hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>بلاغ جديد</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="home()"> 
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
 <!-- <ion-grid class="detail-sec">
    <ion-row>
      <ion-col>
        <img src="../../assets/images/profile.jpg" alt="" class="profile">
      </ion-col>
      <ion-col>
        <div class="details">
          <h5 class="head-red">اسم الموظف</h5>
          <p>قاسم فطاني</p>
          <h5 class="head-red">الفرع</h5>
          <p>العوالي</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <div class="report-body">
    <ion-card>
      <ion-card-content>
          <form [formGroup]="credentialsForm">
        <ion-grid>
          <!-- input 1 -->
          <ion-row class="report-row">
            <ion-col col-5 class="bg-temp">
              نوع البلاغ
            </ion-col>
            <ion-col col-7  class="bg-temp">
              <ion-select    [formControl]="credentialsForm.controls['type']">
                
                <ion-option *ngFor="let type of types " value="{{type.id}}" >{{type.name}}</ion-option>
    
            </ion-select>
             <!--<ion-select  class="bg-temp2">
                <ion-option value="1">بلاغ 1</ion-option>
                <ion-option value="2">بلاغ 2</ion-option>
                <ion-option value="3">بلاغ 3</ion-option>
                <ion-option value="4">بلاغ 4</ion-option>
              </ion-select>--> 
            <!-- <ion-input type="text" [formControl]="credentialsForm.controls['type']"></ion-input>--> 

            </ion-col>
          </ion-row><hr>

          <!-- input 2 -->
          <ion-row class="report-row">
            <ion-col col-5 class="bg-temp">
              مكان البلاغ
            </ion-col>
            <ion-col col-7  class="bg-temp2">
              <ion-select  [(ngModel)]="branch_id"  [formControl]="credentialsForm.controls['location']">
                
                <ion-option   *ngFor="let branch of branches " value="{{branch.id}}" >{{branch.name}}</ion-option>
    
            </ion-select>
            <!--  <ion-select  class="bg-temp2">
                <ion-option value="1">مكة</ion-option>
                <ion-option value="2">جدة</ion-option>
                <ion-option value="3"> مدينة</ion-option>
                <ion-option value="4">الرياض</ion-option>
              </ion-select>-->
            <!--   <ion-input type="text" [formControl]="credentialsForm.controls['location']"></ion-input>-->

            </ion-col>
          </ion-row><hr>

          <!-- input 2 -->
          <ion-row class="report-row">
            <ion-col col-5 class="">
              وصف البلاغ
            </ion-col>
            <ion-col col-7  class="">

            </ion-col>
          </ion-row>

          <!-- input 2 --> 
          <ion-row class="report-row">
            <ion-col col-12 class="bg-temp">
              <textarea   cols="30" rows="5" [formControl]="credentialsForm.controls['desc']"></textarea>
            </ion-col>
          </ion-row>

        </ion-grid>
        <div class="btn-wrapper">
            <button ion-button icon-start block round color="danger" [disabled]="!credentialsForm.valid" (click)="confirmAddReport()">
              رفع البلاغ 
              <ion-icon name="plus"></ion-icon>
            </button>
        
          </div>
      </form>
      </ion-card-content>
    </ion-card>
   
  
  </div>
</ion-content>
  