<ion-header>
  <ion-navbar  class="header-nav"  color="danger" hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="closeModal()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>إضافة سيارة عميل</ion-title>
  </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="body">
      <form [formGroup]="credentialsForm">
          <ion-list class="form-list">
        
            <ion-item class="name">
              <ion-label stacked>اسم السيارة</ion-label>
              <ion-input type="text" [formControl]="credentialsForm.controls['name']"></ion-input>
            </ion-item>
          
            <ion-item class="number">
              <ion-label stacked>رقم اللوحة</ion-label>
              <ion-input type="text" [formControl]="credentialsForm.controls['number']"></ion-input>
            </ion-item>
          <!--
            <ion-item >
              <ion-label stacked>السيارة</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-label stacked>رقم اللوحة</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          -->
            <ion-item>
              <ion-label class="type">نوع السيارة</ion-label>
              <ion-select [formControl]="credentialsForm.controls['type']">
                  <ion-option   *ngFor="let car_type of car_types let i = index" value='{{car_type.id}}' >{{car_type.display_name}}</ion-option>

              </ion-select>
            </ion-item><hr>
          
            <!--<ion-item>
              <ion-label stacked>تاريخ التسجيل</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>-->
          
          </ion-list>
          <div class="btn-wrapper">
            <button ion-button icon-start block round color="danger" [disabled]="!credentialsForm.valid" (click)="addCar()">
              إضافة 
              <ion-icon name="plus"></ion-icon>
            </button>
        
          </div>
            </form>
  </ion-content>