<ion-content padding>
  <div class="logo-start">
    <img src="../../assets/images/logo.png" alt="">
  </div>
  <form [formGroup]="credentialsForm">
  <ion-list>

    <ion-item class="username">
        <ion-label floating>اسم المستخدم</ion-label>
        <ion-input [formControl]="credentialsForm.controls['username']"
            type="text"></ion-input> 

    </ion-item>

    <ion-item class="password">
      <ion-label floating>كلمة المرور</ion-label>
      <ion-input [formControl]="credentialsForm.controls['password']"
      type="password"></ion-input>
    </ion-item>

  </ion-list>

  <div padding class="login-btn">
    <button ion-button round color="danger" block [disabled]="!credentialsForm.valid" (click)="login()">دخول</button>
  </div>
</form>
  <ion-label class="forgot">
    <a href="#">نسيت كلمة المرور ؟</a>
  </ion-label>
</ion-content>