page-login {
    ion-content {
        .item-input-has-focus,
        .input-has-focus{
            box-shadow: 0 !important;
        }
        .logo-start {
            margin: 50px 0;
        }
        background-color:#333 !important;
        .item-md{
            background-color:rgba(255, 255, 255, 0) !important;
            border-radius: 25px;
            margin-bottom: 15px;
            border-bottom: 0 !important;
        }
        ion-label{
            color:#fff !important;
        }
        ion-input{
            background-color: rgba(0, 0, 0, 0);
            color: #fff !important;
            border-bottom: 1px solid #fff !important;
        }
        .list-md .item-block .item-inner {
            border-bottom: 0 !important;
        }
    }
    .password,
    .username {
        text-align: right;
        ion-input {
            direction: rtl !important;
            text-align: right !important;
        }
    }
    .forgot {
        text-align: right;
        margin: 0 30px;
        a {
            color: #ddd;
            text-decoration: none;
        }
    }
}
