<ion-header>
  <ion-navbar class="header-nav" color="danger" hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>الباقات</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="home()"> 
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="body">

  <ion-card class="card-box">

    <ion-card-content>

      <ion-item class="other-title">
        <h3>اختر الباقة</h3>
      </ion-item>
  
      <ion-grid>
        <ion-row class="packages">
          <ion-col col-6 *ngFor="let package of packages" (click)='addtoBasket(package.item.data)' >
            <label for="package1">
              <div  class="box">
               {{package.item.data.name}}
              </div>
       
            </label>
          </ion-col>
       
        </ion-row>
      </ion-grid>
  
   
    </ion-card-content>
    <canvas #imageCanvas  width="512" height="1020"  style='display:none' ></canvas>

  </ion-card>

</ion-content>