page-packages {
    
    ion-content.body {
        height: 100%;
        .other-title {
            text-align: center;
            h3 {
                font-size: 1.2em;
                font-weight: 700;
            }
        }
        .packages {
            direction: rtl;
            text-align: center;
            .box {
                background-color: #403D58;
                padding: 30px 0;
                font-family: 'Helvetica';
                color: #fff;
                border-radius: 20px;
                font-size: 1.5em;
            }
        }
        background-color: #aaa;
        ion-card-content {
            padding: 0 !important;
        }
        ion-input {
            background-color: #fff;
            height: 30px;
            .text-input-md {
                margin: 5px;
            }
        }
        .card-box {
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            width: 90%;
            border-radius: 20px;
        }
        .item-md {
            background: transparent;
        }
        .list-md .item-input:last-child {
            border-top: 1px solid #dedede !important;
        }
    }
    .circle {
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0.315);
    }
    button {
        margin: 20px 0 !important;
        font-family: 'Helvetica';
        font-size: 1.2em !important;
    }

}
