<ion-header>
    <ion-navbar  class="header-nav"  color="danger" hideBackButton>
      <ion-buttons start>
        <button ion-button icon-only color="royal" (click)="back()">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>تفاصيل العميل</ion-title>
      <ion-buttons left>
        <button ion-button icon-only color="royal" (click)="home()"> 
          <ion-icon name="ios-home"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content class="body">
      <ion-grid >
   <!--     <ion-row class="info-row">
            <ion-col col-4 class="info-header">السيارة </ion-col>
            <ion-col col-8>{{company_client.name}}</ion-col>  
         
          </ion-row>-->
          <ion-row class="info-row">
            <ion-col col-4 class="info-header">رقم اللوحة </ion-col>
            <ion-col col-8>{{company_client.plate_no}}</ion-col>
          </ion-row>
          <ion-row class="info-row">
            <ion-col col-4 class="info-header" >نوع السيارة </ion-col>
                  <ion-col col-8>{{company_client.car.data.display_name}} </ion-col>
          </ion-row>
          <ion-row class="info-row">
              <ion-col col-4 class="info-header" > التسعيره </ion-col>
                    <ion-col col-8>{{company_client.price}} </ion-col>
            </ion-row>
        </ion-grid>
    <ion-card class="card-box name">
      <img src="../../assets/images/profile.jpg" alt="" class="profile circle">
  
      <ion-card-content>
        <h5 class="head-red">الشركة</h5>
        <p>{{company_client.com_car_code}}<br>{{company_client.com_car_code}}</p>
      </ion-card-content>
  
    </ion-card>
  
    <ion-card class="card-box name" >
      <div class="icon-header circle"> 
        <ion-icon name="cash"></ion-icon>
      </div>
        
      <ion-card-content>
          <h5 class="head-red" >   رصيد الشركة</h5>
          <p  *ngIf="company_client.companyInfo.data.balance"> {{company_client.companyInfo.data.balance.data.amount}}</p>
          <p  *ngIf="!company_client.companyInfo.data.balance"> 0</p>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-box name">
          <div class="icon-header circle"> 
            <ion-icon name="cash"></ion-icon>
          </div>
      <ion-card-content>
        <h5 class="head-red">  عدد الغسلات    </h5>
        <p> {{company_client.wash_no}}  </p>
    
      </ion-card-content>
    </ion-card>
      <ion-card class="card-box name">
          <div class="icon-header circle"> 
            <ion-icon name="cash"></ion-icon>
          </div>
          
      <ion-card-content>
          <h5 class="head-red">عدد الغسلات المستخدمه </h5>
          <p > {{company_client.no_washed}}</p>
      
        </ion-card-content>
    </ion-card>
  
  
    <button ion-button icon-start block round color="danger" (click)="billDtails()" *ngIf="enabled" >
      الفاتوره 
     <ion-icon name="ios-add-circle-outline"></ion-icon>
   </button>
  
  </ion-content>
    