page-company-car {
        
        ion-content.body {
            background-color: #aaa;
            .card-box {
                margin: 20px auto;
                padding: 10px;
                text-align: center;
                width: 80%;
                border-radius: 20px;
                position: relative;
            }
            .name {
                overflow: visible !important;
                padding-top: 30px;
                margin-top: 50px;
            }
            .icon-header,
            .profile{
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                top: -35px;
                z-index: 10;
                max-width: 70px;
                max-height: 70px;
                object-fit: cover;
            }
            .icon-header {
                background-color: #fff;
                padding: 10px;
                border-color: #403D58;
            }
            .icon-header ion-icon {
                line-height: 40px;
                font-size: 35px;
            }
            .head-red {
                margin-top: 15px;
                color: #C41D2E;
                font-weight: 700;
            }
            .car-list {
                direction: rtl;
            }
            .car-list ion-item:nth-child(odd) {
                background-color: #eee;
            }
            .car-list ion-item p:nth-child(1) {
                text-align: center;
            }
        }
        .circle {
            border-radius: 50%;
            border: 5px solid rgba(0, 0, 0, 0.315);
        }
    
    
        .info-row {
            direction: rtl;
            height: 40px;
            font-family: 'Helvetica';
            line-height: 30px;
            font-size: 16px;
            margin-top: 10px;
            background-color: #ddd;
            border-radius: 10px;
        }
        .info-header {
            background-color: #C41D2E;
            color: #fff;
            border-radius: 10px;
        }
    
}
