page-chat {
    .report-body {
        background-color: #aaa;
        padding: 20px;
        padding-bottom: auto;
    }
    .detail-sec {
        background-color: #eee;
    }
    .details {
        text-align: right;
        padding: 10px;
        .head-red {
            margin-top: 15px;
            color: #C41D2E;
            font-weight: 700;
        }
        p{
            margin: 0;
            font-size: 1.4em;
        }
    }
    .profile{
        margin-top: 10px;
        border-radius: 50%;
        max-width: 150px;
        max-height: 150px;
        object-fit: cover;
        border: 5px solid rgba(0, 0, 0, 0.315);
    }
    .report-body {
        padding: 5px !important;
        height: 100%;
        position: relative;
    }
    .reports-list {
        direction: rtl;
        box-shadow: 5px 5px 5px #ddd;
    }
    .reports-list ion-item:nth-child(odd) {
        background-color: #eee;
    }
    .reports-list ion-item p:nth-child(1) {
        text-align: right;
    }
    ion-card {
        border-radius: 15px !important;
    }
    .bullet {
        max-width: 20px;
        max-height: 20px;
        border: 3px solid rgba(170, 170, 170, 0.70);
    }
    .chat-input {
        background-color: transparent;
        position: absolute !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100%;
        margin: 0 !important;
        direction: rtl;
        font-family: 'Helvetica';
        border-top: 1px solid #ddd;
        .item-md {
            padding-right: 0;
        }
    }
    button.smily{
        margin: 0 !important;
        padding: 5px !important;
        height: 50px !important;
        width: 50px !important;
    }
    button.send {
        background-color: transparent !important;
        color:#488aff;
        box-shadow: none;
    }
    .chat-list {
        direction: rtl !important;
    }
    .flip-h{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

}
