<ion-header >
  <ion-navbar class="header-nav"  color="danger">
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="loginPage()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>شات مباشر</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  
  <ion-list class="chat-list">
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/images/profile.jpg">
        </ion-avatar>
        <h2>موظف</h2>
        <p>ارجو التواصل عن طريق الإتصال فقط</p>
        <button item-end ion-button color="danger" round class="bullet"></button>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="text"></ion-icon>
          شات
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          اتصال
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          إرسال بريد إلكتروني
        </button>
      </ion-item-options>
    </ion-item-sliding><hr class="no-margin">

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/images/profile.jpg">
        </ion-avatar>
        <h2>موظف</h2>
        <p>ارجو التواصل عن طريق الإتصال فقط</p>
        <button item-end ion-button color="success" round class="bullet"></button>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="text"></ion-icon>
          شات
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          اتصال
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          إرسال بريد إلكتروني
        </button>
      </ion-item-options>
    </ion-item-sliding><hr class="no-margin">
    
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/images/profile.jpg">
        </ion-avatar>
        <h2>موظف</h2>
        <p>ارجو التواصل عن طريق الإتصال فقط</p>
        <button item-end ion-button color="success" round class="bullet"></button>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="text"></ion-icon>
          شات
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          اتصال
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          إرسال بريد إلكتروني
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="chat-input">
    <ion-item>
      
      <button item-start ion-button icon-only class="smily">
        <ion-icon name="ios-happy"></ion-icon>
      </button>

      <ion-input type="text" value="" placeholder="chat here"></ion-input>
    
      <button item-end ion-button icon-only class="send">
        <ion-icon class="flip-h" name="md-send"></ion-icon>
      </button>

    </ion-item>
  </ion-list>



</ion-content>