<ion-header>
  <ion-navbar class="header-nav" color="danger" hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>إصدار يومي</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="home()"> 
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="body">

  <ion-card class="card-box">

    <ion-card-content>

      <ion-grid class="total">
  
        <ion-row class="row-rtl">
          <ion-col col-6 class=" text-right">المبيعات بتاريخ</ion-col>
          <ion-col col-6 class="p-0 text-left">
            <ion-datetime displayFormat="MMM DD YYYY" class="datetime" placeholder="MMM DD YYYY" [(ngModel)]="date" (ngModelChange)="dateChanged()"></ion-datetime>
          </ion-col>
        </ion-row>

       <!--<ion-row class="row-rtl">
          <ion-col col-8 class=" text-right">رقم الفاتورة </ion-col>
          <ion-col col-4 class=" text-left">123456</ion-col>
        </ion-row>-->

      </ion-grid>

      <hr>

      <ion-grid class="total" *ngIf="totals">
  
        <ion-row class="row-rtl" >
          <ion-col col-8 class=" text-right">مسحوب من الرصيد</ion-col>
          <ion-col col-4 class=" text-left">{{ totals.minus_balance_totals}} ريال</ion-col>
        </ion-row>
  
        <ion-row class="row-rtl">
          <ion-col col-8 class=" text-right">مضاف للرصيد</ion-col>
          <ion-col col-4 class=" text-left">{{ totals.add_balance_totals}} ريال</ion-col>
        </ion-row>
  
        <ion-row class="row-rtl">
          <ion-col col-8 class=" text-right">باقات</ion-col>
          <ion-col col-4 class=" text-left">{{ totals.package_total}} ريال</ion-col>
        </ion-row>
  
        <ion-row class="row-rtl">
          <ion-col col-8 class=" text-right">دفع مرة واحدة</ion-col>
          <ion-col col-4 class=" text-left">{{ totals.paid- totals.package_total}} ريال</ion-col>
        </ion-row>

      </ion-grid>

      <hr>
 
      <ion-grid class="total" *ngIf="totals">
  
        <!--<ion-row class="row-rtl">
          <ion-col col-8 class=" text-right">الإجمالي</ion-col>
          <ion-col col-4 class=" text-left">{{ totals.paid[0].total}} ريال</ion-col>
        </ion-row>-->
  
        <ion-row class="row-rtl" *ngIf="checkUser()">
          <ion-col col-8 class=" text-right">الإجمالي النقدي</ion-col>
          <ion-col col-4 class=" text-left">{{ totals.paid}} ريال</ion-col>
        </ion-row>

      </ion-grid>
      <button ion-button icon-start block round color="primary" *ngIf="checkUser()" (click)="printDaily()" [disabled]="!prenter_ready">
طباعة        <!-- <ion-icon name="ios-card"></ion-icon> -->
      </button>

      <button ion-button icon-start block round color="primary" *ngIf="!checkUser()" (click)="presentPrompt()" [disabled]="!prenter_ready">
        طباعة        <!-- <ion-icon name="ios-card"></ion-icon> -->
              </button>

      <button ion-button icon-start block round color="danger" (click)="back()">
        العودة إلى القائمة الرئيسية 
        <!-- <ion-icon name="ios-card"></ion-icon> -->
      </button>
    

    </ion-card-content>
    <canvas #imageCanvas  width="512" height="1020"  style='display:none'></canvas>
    <!--<img src="{{Imagedata}}" ng-click="ImageClick()" style="height: 1020px; width: 512px;cursor: pointer" />-->

  </ion-card>

</ion-content>
  