page-daily-report {
    ion-content.body {
        background-color: #aaa;
        ion-card-content {
            padding: 0 !important;
        }
        .card-box {
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            width: 90%;
            border-radius: 20px;
        }
        .total {
            direction: rtl;
            font-family: 'Helvetica';
            margin: 10px 0;
            padding: 10px;
            border-radius: 20px;
        }
        .row-rtl {
            direction: rtl;
        }
    }
    button {
        margin: 20px 0 !important;
        font-family: 'Helvetica';
        font-size: 1.2em !important;
    }
    .datetime {
        background-color: #eee;
    }


}

    // test

    .picker-toolbar-button.picker-toolbar-cancel .picker-button.disable-hover.button.button-md.button-clear.button-clear-md .button-inner
    {
        display: none;
        margin-right: 200px;
    }