<ion-header>
  <ion-navbar  class="header-nav"  color="danger" hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>تفاصيل العميل</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="home()"> 
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="body">
  <ion-card class="card-box name">
    <img src="../../assets/images/profile.jpg" alt="" class="profile circle">

    <ion-card-content>
      <h5 class="head-red">العميل</h5>
      <p>{{client.name}}<br>{{client.phone}}</p>
    </ion-card-content>

  </ion-card>


  <ion-card class="card-box name">
    <div class="icon-header circle"> 
      <ion-icon name="cash"></ion-icon>
    </div>

    <ion-card-content>
      <h5 class="head-red">الرصيد</h5>
      <p *ngIf="client.balance"> {{client.balance.data.amount}} ريال </p>
      <p *ngIf="!client.balance">٠ ريال</p>
    </ion-card-content>

  </ion-card>


  <ion-card class="card-box name">
    <div class="icon-header circle"> 
      <ion-icon ios="ios-car" md="md-car"></ion-icon>
    </div>

    <ion-card-content>
      
      <ion-item-group class="car-list">
        <ion-item  *ngFor="let car of cars let i = index">
          <p item-start>{{car.name}}</p>
          <p> {{car.plate_no}} </p>
          <p item-end>{{car.carType.data.display_name}}</p>
        </ion-item>

      </ion-item-group>
      <button ion-button icon-start block round color="danger" (click)="opeAddCarModal()">
         إضافة سيارة 
       <ion-icon name="ios-add-circle-outline"></ion-icon>
     </button>
    </ion-card-content>

  </ion-card>

</ion-content>
  