<ion-header >
  <ion-navbar class="header-nav"  color="danger">
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="logout()"> 
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> الرئيسية</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content >
  <ion-grid class="detail-sec">
    <ion-row>
      <ion-col>
        <img src="../../assets/images/profile.jpg" alt="" class="profile">
      </ion-col>
      <ion-col>
        <div class="details">
          <h5 class="head-red">اسم الموظف</h5>
          <p ngif='user'> {{ user.name}} </p>
          <h5 class="head-red">الفرع</h5>
          <!-- <ion-select  [(ngModel)]="branch_id" (ionChange)="setBranch()" multiple="false "  okText="موافق" cancelText="إلغاء">
            <ion-option   *ngFor="let branch of branches " value="{{branch.id}}" >{{branch.name}}</ion-option>
          </ion-select> -->
          <ion-list dir="rtl">
            <ion-item>
              <ion-select   [(ngModel)]="branch_id" (ionChange)="setBranch()" multiple="false "  okText="موافق" cancelText="إلغاء">
                <ion-option   *ngFor="let branch of branches " value="{{branch.id}}" >{{branch.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="list-body">
    <button ion-button block color="danger" (click)="newBill()">فاتورة جديدة</button>
  
    <ion-list class="profile-list">
      <ion-item class="list1" (click)="sellPackage()">
        <ion-label>شراء باقة</ion-label>
      </ion-item>
      <ion-item class="list2" (click)="myInvoice()"> 
        <ion-label>فواتيري</ion-label>
      </ion-item>
      <ion-item class="list3" (click)="dailyReprt()">
        <ion-label>إصدار يومية</ion-label>
      </ion-item>
      <ion-item class="list4"  (click)="reportHome()">
        <ion-label>طلب خدمة</ion-label>
      </ion-item>
      <ion-item class="list5" (click)="reservations()">
        <ion-label> الحجوزات</ion-label>
      </ion-item>
      <ion-item class="list6">
        <ion-label>شات مباشر</ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
