page-profile {
    ion-content {
        .list-body {
            background-color: #aaa;
            padding: 20px;

        }
        button {
            margin-bottom: 20px !important;
            font-family: 'Helvetica';
            font-size: 1.2em !important;
        }
        .profile-list {
            ion-item {
                font-family: 'Helvetica';
                margin-bottom: 5px;
                direction:rtl;
            }
            .list1{
                border-left: 5px solid rgb(110, 6, 170);
            }
            .list2{
                border-left: 5px solid rgb(204, 104, 11);
            }
            .list3{
                border-left: 5px solid rgb(17, 182, 113);
            }
            .list4{
                border-left: 5px solid rgb(231, 228, 32);
            }
            .list5{
                border-left: 5px solid rgb(4, 112, 71);
            }
            .list6{
                border-left: 5px solid rgb(204, 104, 11);
            }
        }
    }
    .detail-sec {
        background-color: #eee;
    }
    .details {
        text-align: right;
        padding: 10px;
        .head-red {
            margin-top: 15px;
            color: #C41D2E;
            font-weight: 700;
        }
        p{
            margin: 0;
            font-size: 1.4em;
        }
    }
    .profile{
        margin-top: 10px;
        border-radius: 50%;
        max-width: 150px;
        max-height: 150px;
        object-fit: cover;
        border: 5px solid rgba(0, 0, 0, 0.315);
    }
    .select-text {
        min-width: 75px;
    }
    ion-select {
        max-width: 100%
    }
}
.alert-md .alert-wrapper {
    direction: rtl !important;
}
