<ion-header >
  <ion-navbar class="header-nav"  color="danger" hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
        
      </button>
    </ion-buttons>
    <ion-title>بلاغاتي</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="home()"> 
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <!--<ion-grid class="detail-sec">
    <ion-row>
      <ion-col>
        <img src="../../assets/images/profile.jpg" alt="" class="profile">
      </ion-col>
      <ion-col>
        <div class="details">
          <h5 class="head-red">اسم الموظف</h5>
          <p>قاسم فطاني</p>
          <h5 class="head-red">الفرع</h5>
          <p>العوالي</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <div class="report-body">
    <ion-card>
      <ion-card-content>
        <ion-item-group class="reports-list">
            <ion-item color="danger" class="list-header">
              <p item-start>رقم البلاغ</p>
              <p>تاريخ البلاغ</p>
              <p item-end>********</p>
            </ion-item>
          <ion-item *ngFor="let report of reports" >
            <p item-start>{{report.report_no}}</p>
            <p>{{report.created_at}}</p>
            <button item-end ion-button color="danger" round [disabled]="report.status_no==3" (click)='details(report)'>{{report.status}}</button>
          </ion-item>
    
        </ion-item-group>
      </ion-card-content>
    </ion-card>
  
  </div>
</ion-content>
    