<ion-header>
  <ion-navbar class="header-nav" color="danger"  hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="closeModal()">

        <ion-icon  name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>  {{invoice.invoice_number}}</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="home()"> 
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="body">

  <ion-card class="card-box">
    <!-- <div class="icon-header circle"> 
      <ion-icon name="ios-car"></ion-icon>
    </div> -->
 
    <ion-grid>
      <ion-row class="detail-row">
        <ion-col col-4 class="header"> الموظف</ion-col>
        <ion-col col-8>{{invoice.added_by}}</ion-col>
      </ion-row>
      <ion-row class="detail-row">
        <ion-col col-4 class="header"> الفرع</ion-col>
        <ion-col col-8>{{invoice.branch}}</ion-col>
      </ion-row>
      <ion-row class="detail-row">
        <ion-col col-4 class="header">التاريخ</ion-col>
        <ion-col col-8>{{invoice.invoiced_at}}</ion-col>
      </ion-row>
      <ion-row class="detail-row">
        <ion-col col-4 class="header">طريقة الدفع</ion-col>
        <ion-col col-8>{{invoice.payment_way}}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="product-list">
      <ion-row class="product-list-header">
        <ion-col col>#</ion-col>
        <ion-col col> المنتج</ion-col>
        <ion-col col>الكمية</ion-col>
        <ion-col col>السعر </ion-col>
        <ion-col col>المجموع</ion-col>
      </ion-row>
      <ion-row class="product-list-item" *ngFor="let item of invoice.items.data let i = index">
        <ion-col col>{{i+1}}</ion-col>
        <ion-col col> {{item.name}}</ion-col>
        <ion-col col>
       
          <ion-badge >{{item.quantity}}</ion-badge>
          

        </ion-col>
        <ion-col col>{{item.price}} </ion-col>
        <ion-col col>{{item.total+item.tax}}</ion-col>
      </ion-row>
   
  
    </ion-grid>
    <!-- <ion-item class="other-title">
      <h3>منتجات أخرى</h3>
    </ion-item> -->

    <ion-card-content>

      <ion-grid class="wash">
  
        <ion-row class="cart-row" *ngFor="let total of invoice.totals.data let i = index">
          <ion-col col-8 class="header"  *ngIf="total.code=='sub_total'">المجموع</ion-col>
          <ion-col col-8 class="header"  *ngIf="total.code=='discount'">مخصوم من الرصيد</ion-col>
          <ion-col col-8 class="header"  *ngIf="total.code=='tax'">الضريبة</ion-col>
          <ion-col col-8 class="header"  *ngIf="total.code=='total'">الإجمالي</ion-col>
          <ion-col col-4 class="text-left">{{total.amount}} ريال</ion-col>
        </ion-row>
   
      </ion-grid>
  
      <button ion-button icon-start block round color="danger"  *ngIf="checkUser()" (click)="printInvoice(invoice)" [disabled]="!prenter_ready">
        طباعة الفاتورة 
        <!-- <ion-icon name="ios-card"></ion-icon> -->
      </button>
      
        <canvas #imageCanvas  width="512" height="1020"  style='display:none'></canvas>

    </ion-card-content>

  </ion-card>

</ion-content>
  