page-client-type {
    .header-nav {
        text-align: center;
        font-family: 'Helvetica';
    }
    .center-header{
        margin-top: 50px;
        text-align: center;
        h4 {
            font-family: 'Helvetica';
            font-size: 2em;
            font-weight: 500;
        }
    }
    .company,
    .ind {
        text-align: center;
        border-radius: 25px;
        border-bottom: 2px solid #C41D2E;
        ion-icon {
            font-size: 3em;
        }
        ion-card-title {
            font-family: 'Helvetica';
            font-weight: 300;
            
        }
    }

}
