<ion-header>
  <ion-navbar class="header-nav" color="danger" hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>تسجيل عميل جديد</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="home()"> 
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="body">
    <form [formGroup]="credentialsForm">
  <ion-list class="form-list">

    <ion-item class="name">
      <ion-label stacked>اسم العميل</ion-label>
      <ion-input type="text" [formControl]="credentialsForm.controls['name']"></ion-input>
    </ion-item>
  
    <ion-item class="phone">
      <ion-label stacked>رقم الجوال</ion-label>
      <ion-input type="tel" [formControl]="credentialsForm.controls['phone']"></ion-input>
    </ion-item>
  <!--
    <ion-item >
      <ion-label stacked>السيارة</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>رقم اللوحة</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  -->
    <ion-item>
      <ion-label class="sex">الجنس</ion-label>
      <ion-select [formControl]="credentialsForm.controls['sex']">
        <ion-option value="male">ذكر</ion-option>
        <ion-option value="female">انثى</ion-option>
      </ion-select>
    </ion-item><hr>
  
    <!--<ion-item>
      <ion-label stacked>تاريخ التسجيل</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>-->
  
  </ion-list>
  <div class="btn-wrapper">
    <button ion-button icon-start block round color="danger" [disabled]="!credentialsForm.valid" (click)="addClient()">
      إضافة 
      <ion-icon name="plus"></ion-icon>
    </button>

  </div>
    </form>
</ion-content>