page-register-client {
    .form-list {
        direction: rtl;
        font-family: 'Helvetica';
        ion-label {
            font-size: 1.1em !important;
            font-weight: 500 !important;
        }
    }
    .btn-wrapper {
        width: 80%;
        margin: 20px auto;
    }
    button {
        margin: 20px 0 !important;
        font-family: 'Helvetica';
        font-size: 1.2em !important;
    }
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
        margin-top: 0px;
        margin-bottom: 0;
    }
    .input-cover {
        border-bottom: 1px solid #ddd !important;
    }

}
