<ion-header>
    <ion-navbar class="header-nav" color="danger"  hideBackButton>
      <ion-buttons start>
        <button ion-button icon-only color="royal" (click)="back()">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>تحصيل الفاتورة</ion-title>
      <ion-buttons left>
        <button ion-button icon-only color="royal" (click)="home()"> 
          <ion-icon name="ios-home"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="body">
  
    <ion-card class="card-box">
      <!-- <div class="icon-header circle"> 
        <ion-icon name="ios-car"></ion-icon>
      </div> -->
      <ion-grid>
        <ion-row class="detail-row">
          <ion-col col-4 class="header">رقم الفاتورة</ion-col>
          <ion-col col-8></ion-col>
        </ion-row>
        <ion-row class="detail-row">
          <ion-col col-4 class="header">التاريخ</ion-col>
          <ion-col col-8>{{invoiced_at | date:'yyyy/MM/dd':UTC+3  }}
  
          </ion-col>
        </ion-row>
        <ion-row class="detail-row">
          <ion-col col-4 class="header">الوقت</ion-col>
          <ion-col col-8>{{invoiced_at | date:'hh:mm a':UTC+3 }}</ion-col>
          
        </ion-row>
      </ion-grid>
  
      <!-- <ion-item class="other-title">
        <h3>منتجات أخرى</h3>
      </ion-item> -->
  
      <ion-card-content>
  
        <ion-grid class="wash">
            <ion-row class="cart-row">
                <ion-col col-8 class="header">رقم لوحة السيارة</ion-col>
                <ion-col col-4 class="text-left"> {{company_client.plate_no}}    </ion-col>
              </ion-row>
          <ion-row class="cart-row">
            <ion-col col-8 class="header">سعر الخدمة</ion-col>
            <ion-col col-4 class="text-left">{{company_client.price}} ريال</ion-col>
          </ion-row>
    
          <ion-row class="cart-row ">
            <ion-col col-8 class="header" >المبلغ في الرصيد</ion-col>
            <ion-col col-4 class="text-left" > {{company_client.companyInfo.data.balance.data.amount}} ريال </ion-col>
          </ion-row>
          <ion-row class="cart-row ">
            <ion-col col-8 class="header">المبلغ المخصوم</ion-col>
            <ion-col col-4 class="text-left">{{company_client.price}} ريال </ion-col>
          </ion-row>
  
          
     
        </ion-grid>
    
        <button ion-button icon-start block round color="danger" (click)="addInvoice()" [disabled]="!prenter_ready">
          تحصيل الفاتورة 
          <!-- <ion-icon name="ios-card"></ion-icon> -->
        </button>
        <canvas #imageCanvas  width="512" height="1020"  style='display:none'></canvas>

      </ion-card-content>
  
    </ion-card>
  
  </ion-content>
    