<ion-header>
  <ion-navbar class="header-nav"  color="danger" hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>إضافة السيارة</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="home()"> 
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content class="body">

  <ion-card class="card-box name">
    <div class="icon-header circle"> 
      <ion-icon name="ios-car"></ion-icon>
    </div>

    <ion-list class="washing-type" *ngIf="client">
      <ion-item>
        <ion-label> اختر السيارة</ion-label>
        <ion-select [(ngModel)]="car" (ionChange)="onCarChange()">
          <ion-option   *ngFor="let client_car of client_cars let i = index" value="{{i}}">{{client_car.name}}</ion-option>

        </ion-select>
      </ion-item>
    </ion-list>
    <ion-grid *ngIf="car">
      <ion-row class="info-row">
        <ion-col col-4 class="info-header">السيارة </ion-col>
        <ion-col col-8>{{client_cars[car].name}}</ion-col>
     
      </ion-row>
      <ion-row class="info-row">
        <ion-col col-4 class="info-header">رقم اللوحة </ion-col>
        <ion-col col-8>{{client_cars[car].plate_no}}</ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col col-4 class="info-header" >نوع السيارة </ion-col>
              <ion-col col-8>{{client_cars[car].carType.data.display_name}} </ion-col>
      </ion-row>
    </ion-grid>


   
    <ion-list class="form-list" *ngIf="client==null" >
        
      <ion-item class="name">
        <ion-label stacked>اسم السيارة</ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>
    
      <ion-item class="number">
        <ion-label stacked>رقم اللوحة</ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>
 
      <ion-item>
        <ion-label class="type">*نوع السيارة</ion-label>
        <ion-select  [(ngModel)]="car_type_index" (ionChange)="onCarChange()" multiple="false "  okText="موافق" cancelText="إلغاء">
            <ion-option   *ngFor="let car_type of car_types let i = index" value="{{i}}" >{{car_type.display_name}}</ion-option>

        </ion-select>
      </ion-item><hr> 
    
  
    </ion-list>
  
       

    

    
    <button ion-button icon-start block round color="danger" (click)="nextPage()">
    متابعة 
      <ion-icon name="ios-add-circle-outline"></ion-icon>
    </button>
 
  </ion-card>
</ion-content>
  
