page-add-services {
    
    ion-content.body {
        background-color: #aaa;
        .card-box {
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            width: 90%;
            border-radius: 20px;
            position: relative;
        }
        .name {
            overflow: visible !important;
            padding-top: 30px;
            margin-top: 50px;
        }

        .info-row {
            direction: rtl;
            height: 40px;
            font-family: 'Helvetica';
            line-height: 30px;
            font-size: 16px;
            margin-top: 10px;
            background-color: #ddd;
            border-radius: 10px;
        }
        .info-header {
            background-color: #C41D2E;
            color: #fff;
            border-radius: 10px;
        }
        .washing-type {
            margin: 10px 0;
            direction: rtl;
            background-color: #ddd;
            border-radius: 10px;
        }
        .item-md {
            background: transparent;
        }
        .other-title {
            text-align: center;
            h3 {
                font-size: 1.2em;
                font-weight: 700;
            }
        }
        .icon-header,
        .profile{
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: -35px;
            z-index: 10;
            max-width: 70px;
            max-height: 70px;
            object-fit: cover;
        }
        .icon-header {
            background-color: #fff;
            padding: 10px;
            border-color: #403D58;
        }
        .icon-header ion-icon {
            line-height: 40px;
            font-size: 35px;
        }
        .product-list {
            overflow: scroll;
            direction: rtl;
            box-shadow: 5px 5px 5px #ddd;
            max-height: 124px;
        }
        .product-list .product-list-item:nth-child(odd) {
            background-color: #eee;
        }
    }
    .circle {
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0.315);
    }
    button {
        margin: 20px 0 !important;
        font-family: 'Helvetica';
        font-size: 1.2em !important;
    }
    [col] {
        padding: 10px 0 !important;
        text-align: center;
    }
    .grid {
        padding: 0 !important;
    }
    .card-content-md {
        padding: 0 !important;
    }
    .product-list-header {
        background-color: $danger;
        color: $light;
        font-family: 'Helvetica';
    }
    .product-list-box {
        direction: rtl;
    }
    .product-list-box .product-box {
        width: 100%;
        display: table;
        background-color: $primary;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid $secondary;
        text-align: center;
        color: $light;
        font-family: 'Helvetica';
        font-size: 1em;
        min-height: 80px;

        .box-content {
            
    display: table-cell;
    vertical-align: middle;
        }
    }
    .product-list-box .sub {
        background-color: $secondary;
    }
    .product-list-box .back {
        background-color: $danger;
    }
    .hr {
        margin-top: 30px !important;
    }
    .product-list-box .product-box.selected {
        color: $danger;
        border-color: $danger;
    }



    .form-list {
        direction: rtl;
        font-family: 'Helvetica';
        ion-label {
            font-size: 1.1em !important;
            font-weight: 500 !important;
        }
    }
    .btn-wrapper {
        width: 80%;
        margin: 20px auto;
    }
    button {
        margin: 20px 0 !important;
        font-family: 'Helvetica';
        font-size: 1.2em !important;
    }
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
        margin-top: 0px;
        margin-bottom: 0;
    }
    .input-cover {
        border-bottom: 1px solid #ddd !important;
    }


}
