page-my-invoices {
    .report-body {
        background-color: #aaa;
        padding: 20px;
        padding-bottom: auto;
        min-height: 100%;
    }
    .detail-sec {
        background-color: #eee;
    }
    .details {
        text-align: right;
        padding: 10px;
        .head-red {
            margin-top: 15px;
            color: #C41D2E;
            font-weight: 700;
        }
        p{
            margin: 0;
            font-size: 1.4em;
        }
    }
    .profile{
        margin-top: 10px;
        border-radius: 50%;
        max-width: 150px;
        max-height: 150px;
        object-fit: cover;
        border: 5px solid rgba(0, 0, 0, 0.315);
    }
    .report-body {
        padding: 5px !important;
    }
    .reports-list {
        direction: rtl;
        box-shadow: 5px 5px 5px #ddd;
    }
    .reports-list ion-item:nth-child(even) {
        background-color: #eee;
    }
    .reports-list ion-item p:nth-child(1) {
        text-align: center;
    }
    ion-card {
        border-radius: 15px !important;
    }
    button {
        width: 60px;
    }

}
