<ion-header>
  <ion-navbar class="header-nav"  color="danger" hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>إضافة خدمة</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="home()"> 
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="body">

  <ion-card class="card-box name">
    <div class="icon-header circle"> 
      <ion-icon name="ios-car"></ion-icon>
    </div>

  
  
       

    

    <ion-item class="other-title">
      <h3>سلة المنتجات المختارة</h3>
    </ion-item>

    <ion-card-content>
      <ion-grid class="product-list">
        <ion-row class="product-list-header">
          <ion-col col>#</ion-col>
          <ion-col col> المنتج</ion-col>
          <ion-col col>الكمية</ion-col>
          <ion-col col>السعر </ion-col>
          <ion-col col>المجموع</ion-col>
        </ion-row>
        <ion-row class="product-list-item" *ngFor="let basket_item of basket_items let i = index">
          <ion-col col>{{i+1}}</ion-col>
          <ion-col col> {{basket_item.name}}</ion-col>
          <ion-col col>
            <ion-icon name="remove-circle" (click)="decreeseQuantity(i,basket_item)"></ion-icon>
            <ion-badge >{{basket_item.quantity}}</ion-badge>
            <ion-icon name="add-circle" (click)="increseQuantity(basket_item)" *ngIf="!checkClass(basket_item)"></ion-icon>
            

          </ion-col>
          <ion-col col>{{basket_item.sale_price}} </ion-col>
          <ion-col col>{{basket_item.total}}</ion-col>
        </ion-row>
     
    
      </ion-grid>

      <hr class="hr">

      <ion-item class="other-title">
        <h3>أضف منتجات أخرى</h3>
      </ion-item>

      <ion-grid class="product-list-box" *ngIf="!items">
        <ion-row>
          <ion-col col-4   *ngFor="let service of services" (click)="openServiceMenu(service)">
            <div class="product-box">
              <div class="box-content">
                <div>
                  <ion-icon name="color-wand"></ion-icon>
                </div>
                {{service.name}}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
        
       
      <ion-grid class="product-list-box" *ngIf="items">
        <ion-row>
      <ion-col col-4 (click)="backServices()" >
            <div class="product-box sub back">
              <div class="box-content">
                  <div>
                    <ion-icon name="redo" ></ion-icon>
                  </div>
                  تراجع
              </div>
            </div> 
          </ion-col>
          <ion-col col-4 *ngFor="let item of items"  (click)="addtoBasket(item)">
            <div class="product-box sub">
              <div class="box-content">
                  {{item.name}}
              </div>
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>



      <!--<ion-item class="other-title">
        <h3>الباقات</h3>
      </ion-item>

      <ion-grid class="product-list-box">
        <ion-row>
          <ion-col col-4  *ngFor="let package of packages" (click)="addtoBasket(package.item.data)">
            <div class="product-box">
              <div>
                <ion-icon name="color-wand"></ion-icon>
              </div>
              {{package.item.data.name}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
        -->

    </ion-card-content>

    <button ion-button icon-start block round color="danger" (click)="billDtails()"BillDtailsPage>
       الفاتوره 
      <ion-icon name="ios-add-circle-outline"></ion-icon>
    </button>

  </ion-card>
</ion-content>
  
