// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url("../assets/Helvetica/font.css");
body,
h1,h2,h3,h4,h5,h6,
p,a {
    font-family: 'Helvetica';
}

.header-nav {
    text-align: center;
    font-family: 'Helvetica';
}

::-webkit-input-placeholder { text-align:right; font-family: 'Helvetica'; }
input:-moz-placeholder { text-align:right; font-family: 'Helvetica'; }


ion-input:focus, ion-input:focus,
.item .item-inner,
.item-input .item-inner,
.input-has-focus .item-inner,
.item-input-has-focus .item-inner,
.item-block .item-inner,
.item-m .item-inner
{
    outline: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}
button ion-icon {
    margin: 0 5px !important;
}
.mt-10px {
    margin-top: 10px !important;
}
.mt-5px {
    margin-top: 5px !important;
}
.text-right {
    text-align: right !important;
}
.text-left{
    text-align: left !important;
}
.font-12em {
    font-size: 1.2em;
}
.p-0 {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.button-clear{
    position: absolute;
    right: 0;
    top: 0;

}