page-bill-dtails {
    
    ion-content.body {
        background-color: #aaa;
        ion-card-content {
            padding: 0 !important;
        }
        .card-box {
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            width: 90%;
            border-radius: 20px;
        }
        .detail-row {
            direction: rtl;
            font-family: 'Helvetica';
        }
        .detail-row ion-col{
            text-align: left;
        }
        .header {
            text-align: right !important;
            font-weight: 700;
        }
        .header-row {
            font-weight: 700;
        }
        .cart,
        .wash {
            position: relative;
            direction: rtl;
            font-family: 'Helvetica';
            margin: 10px 0;
            padding: 10px;
            background-color: #aaa;
            padding-top: 40px !important;
            border-radius: 20px;
            max-height: 200px;
            overflow: scroll;
        }
        .total {
            direction: rtl;
            font-family: 'Helvetica';
            margin: 10px 0;
            padding: 10px;
            border-radius: 20px;
        }
        .cart {
            margin-top: 50px;
        }
        .text-left{
            text-align: left;
        }
        .item-md {
            background: transparent;
        }
        .icon-header{
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: -35px;
            z-index: 10;
            max-width: 70px;
            max-height: 70px;
            object-fit: cover;
        }
        .icon-header {
            background-color: #fff;
            padding: 10px;
            border-color: #403D58;
            margin-top: 160px;
        }
        .icon-header ion-icon {
            line-height: 40px;
            font-size: 35px;
        }
    }
    .circle {
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0.315);
    }
    button {
        margin: 20px 0 !important;
        font-family: 'Helvetica';
        font-size: 1.2em !important;
    }
}