<ion-header>
  <ion-navbar class="header-nav" color="danger"  hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>تفاصيل الفاتورة</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="home()"> 
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="body">

  <ion-card class="card-box">
    <!-- <div class="icon-header circle"> 
      <ion-icon name="ios-car"></ion-icon>
    </div> -->

    <ion-grid>
      <ion-row class="detail-row">
        <ion-col col-4 class="header">رقم الفاتورة</ion-col>
        <ion-col col-8></ion-col>
      </ion-row>
      <ion-row class="detail-row">
        <ion-col col-4 class="header">التاريخ</ion-col>
        <ion-col col-8>{{invoiced_at | date:'yyyy/MM/dd':UTC+3  }}

        </ion-col>
      </ion-row>
      <ion-row class="detail-row">
        <ion-col col-4 class="header">الوقت</ion-col>
        <ion-col col-8>{{invoiced_at | date:'hh:mm a':UTC+3 }}</ion-col>
        
      </ion-row>
    </ion-grid>


    <!-- <ion-item class="other-title">
      <h3>منتجات أخرى</h3>
    </ion-item> -->

    <ion-card-content >
        <div class="icon-header circle"> 
          <ion-icon name="ios-car"></ion-icon>
        </div>

      <ion-grid class="wash"  >
        <div *ngIf="basket_items1.length>0">
          <ion-row class="cart-row" >
            <ion-col col-4 class="header-row text-right">نوع الحدمة</ion-col>
            <ion-col col-8 class="header-row text-left">السعر</ion-col>
          </ion-row>
          <ion-row class="cart-row"  *ngFor="let basket_item of basket_items1 let i = index">
            <ion-col col-4 class="text-right">{{basket_item.name}}</ion-col>
            <ion-col col-8 class="text-left">{{basket_item.sale_price}} ريال</ion-col>
          </ion-row>
        </div>
        

        <div  *ngIf="basket_items2.length>0" >
          <ion-row class="cart-row" > 
            <ion-col col-4 class="header-row text-right">نوع المنتج</ion-col>
            <ion-col col-4 class="header-row">الكمية</ion-col>
            <ion-col col-4 class="header-row text-left">السعر</ion-col>
          </ion-row>
          <ion-row class="cart-row"  *ngFor="let basket_item of basket_items2 let i = index">
            <ion-col col-4 class="text-right">{{basket_item.name}}</ion-col>
            <ion-col col-4>{{basket_item.quantity}}</ion-col>
            <ion-col col-4 class="text-left">{{basket_item.sale_price}} ريال</ion-col>
          </ion-row>

        </div>

      </ion-grid>

      <!-- <ion-grid class="cart">
        <div class="icon-header circle">
          <ion-icon name="cart"></ion-icon>
        </div>
  
        <ion-row class="cart-row" > 
          <ion-col col-4 class="header-row text-right">نوع المنتج</ion-col>
          <ion-col col-4 class="header-row">الكمية</ion-col>
          <ion-col col-4 class="header-row text-left">السعر</ion-col>
        </ion-row>
        <ion-row class="cart-row"  *ngFor="let basket_item of basket_items2 let i = index">
          <ion-col col-4 class="text-right">{{basket_item.name}}</ion-col>
          <ion-col col-4>{{basket_item.quantity}}</ion-col>
          <ion-col col-4 class="text-left">{{basket_item.sale_price}} ريال</ion-col>
        </ion-row>
   
      </ion-grid><hr> -->

      <ion-grid class="total">
  
        <ion-row class="cart-row">
          <ion-col col-4 class="header-row text-right font-12em">الإجمالي</ion-col>
          <ion-col col-8 class="header-row text-left font-12em">{{items_total}} ريال</ion-col>
        </ion-row>

      </ion-grid>
    
      <button ion-button icon-start block round color="danger" (click)="nextPage()">
        دفع الفاتورة 
        <ion-icon name="ios-card"></ion-icon>
      </button>
    
      <canvas #imageCanvas  width="512" height="1020" style='display:none'></canvas>
    </ion-card-content>

  </ion-card>

</ion-content>
