<ion-header>
    <ion-navbar class="header-nav" color="danger" hideBackButton>
      <ion-buttons start>
        <button ion-button icon-only color="royal" (click)="back()">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>فاتورة جديدة</ion-title>
    </ion-navbar>
  </ion-header>


  <ion-content >
    <div class="content-body"> 
      <!-- <button ion-button icon-start block color="danger">
          فاتورة بدون تسجيل عميل 
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button> -->
  
      <ion-searchbar placeholder="بحث برقم الكود أو لوحة السيارة" [(ngModel)]="terms" (ionInput)="searchCar()"></ion-searchbar>
    
      <ion-list class="clients-list">
          <ion-item-sliding *ngFor="let client_car of client_cars  | searchCar : terms" (click)="openClientPage(client_car)" >
        <ion-item class="list-item"  >
          <ion-label>{{client_car.plate_no}}</ion-label>
        </ion-item>
        <ion-item-options>
          <button  (click)="openClientPage(client_car)"> عرض</button>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list> 
       

  
    </div>
  </ion-content>