<ion-header >
  <ion-navbar class="header-nav"  color="danger" hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>صفحة التفاصيل</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="home()"> 
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

 
<ion-content >
  <div class="content-body">
    <button ion-button icon-start block color="danger" (click)='openServicesPage()'>
       فاتورة بدون تسجيل عميل 
      <ion-icon name="ios-add-circle-outline" ></ion-icon>
    </button>
 
    <ion-searchbar placeholder="البحث" type="tel" [(ngModel)]="terms"></ion-searchbar>
  
    <ion-list class="clients-list">
        <ion-item-sliding *ngFor="let client of clients  | search : terms" >

      <button ion-item  class="list-item" (click)="openServicesPage(client)">
        <ion-label>{{client.name}}</ion-label>
      </button>
      <ion-item-options>
          <button  (click)="openClientPage(client)"> عرض</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> 
    
    <button ion-button icon-start block round color="danger" (click)="addNewClient()">
        عميل جديد 
       <ion-icon name="ios-add-circle-outline"></ion-icon>
     </button>

  </div> 
</ion-content>