page-new-bill {
    ion-content {
        .content-body {
            background-color: #aaa;
            padding: 20px;
            height: auto;

        }
        button {
            margin-bottom: 20px !important;
            font-family: 'Helvetica';
            font-size: 1.2em !important;
        }
        .list-item {
            // margin-bottom: 5px;
            text-align: right;
            font-family: 'Helvetica';
        }
        .list-item:nth-child(even) {
            background-color: #eee;
        }
        .clients-list .list-item{
            text-align: center;
        }
        .searchbar-md{
            padding: 0px !important;
            margin-bottom: 20px;
            font-family: 'Helvetica';
        }
    }

}
