<ion-header>
    <ion-navbar  class="header-nav"  color="danger" hideBackButton>
      <ion-buttons start>
        <button ion-button icon-only color="royal" (click)="closeModal()">
          <ion-icon name="ios-close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>  تفصيل البلاغ</ion-title>
      <ion-buttons left>
        <button ion-button icon-only color="royal" (click)="home()"> 
          <ion-icon name="ios-home"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    
    </ion-header>
    
    
    <ion-content class="body">
        <ion-card class="card-box name">
        <ion-grid >
            <ion-row class="info-row">
              <ion-col col-4 class="info-header"> الرقم </ion-col>
              <ion-col col-8>{{report.report_no}}</ion-col>
           
            </ion-row>
            <ion-row class="info-row">
              <ion-col col-4 class="info-header"> التاريخ   </ion-col>
              <ion-col col-8>{{report.created_at | date:'yyyy/MM/dd' }}</ion-col>
            </ion-row>
            <ion-row class="info-row">
              <ion-col col-4 class="info-header" >  الوقت </ion-col>
                    <ion-col col-8>{{report.created_at | date:'hh:mm a':UTC+3 }} </ion-col>
            </ion-row>
           
            <ion-row class="info-row">
                <ion-col col-4 class="info-header" >  النوع </ion-col>
                      <ion-col col-8>{{report.type}} </ion-col>
              </ion-row>
              <ion-row class="info-row">
                  <ion-col col-4 class="info-header" >  المكان </ion-col>
                        <ion-col col-8>{{report.location}} </ion-col>
                </ion-row>
                <ion-row class="info-row">
                    <ion-col col-4 class="info-header" > الوصف</ion-col>
                          <ion-col col-8>{{report.desc}} </ion-col>
                  </ion-row>
              <ion-row class="info-row" *ngIf="report.tech">
                  <ion-col col-4 class="info-header" >   الموظف المسؤول </ion-col>
                        <ion-col col-8>{{report.tech.data.name}} </ion-col>
                </ion-row>
          </ion-grid>

          <div class="btn-wrapper">
              <button ion-button icon-start block round color="danger"  (click)="confirmClose()">
                إغلاق البلاغ 
                <ion-icon name="plus"></ion-icon>
              </button>
            </div>
        </ion-card>
    </ion-content>