<ion-header>
    <ion-navbar class="header-nav" color="danger" hideBackButton >
      <ion-buttons start>
        <button ion-button icon-only color="royal" (click)="back()">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
    
      </ion-buttons>
      
      <ion-title>نوع العميل</ion-title>
      <ion-buttons left>
        <button ion-button icon-only color="royal" (click)="home()"> 
          <ion-icon name="ios-home"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content >
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="center-header">
          <h4> اختر نوع العميل</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="ind" color="secondary" (click)="newReport()">
            <ion-card-content>
              
              <ion-card-title>
                بلاغ جديد
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="company" color="secondary" (click)="myReports()">
            <ion-card-content>
              
              <ion-card-title>
                بلاغاتي
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>
  